@page "/"
@using ClientApp.Models
@using ClientApp.Services
@using Newtonsoft.Json
@using Shared
@inject IAnimalsService animalsService

<PageTitle>Home</PageTitle>

<EditForm Model="NewAnimal" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText @bind-Value="NewAnimal.Name"></InputText>
    <InputText @bind-Value="NewAnimal.Type"></InputText>
    <input type="submit" value="Create new animal"/>
</EditForm>

@if(isLoading)
{
    <h2>Loading. . . </h2>
}

@if(animals != null)
{
    <ul>
        @foreach(AnimalModel animal in animals)
        {
            <li>
                <p><strong>Name:</strong> @animal.Name</p>
                <p><strong>Type:</strong> @animal.Type</p>
            </li>
        }
    </ul>
}

@code {
    private List<AnimalModel>? animals; // TODO: Change (project) to ViewModel in Service
    private bool isLoading;

    public AnimalViewModel NewAnimal { get; set; } = new();

    private async Task HandleSubmit()
    {
        isLoading = true;

        // Skicka det nya animalet till API:t
        await animalsService.PostAnimal(NewAnimal);

        isLoading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            animals = await animalsService.GetAnimals();
        }
        catch
        {
            
        }
    }
}